* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/sos.png");
}

#main-logo {
	/*position: absolute;*/
	/*margin-top: 10%;*/
	margin-top: 10%;
	font-family: 'Righteous', cursive;
	text-align: center;
	font-size: 80pt;
}

#header-top {
    margin: 0;
    margin-top: -6%;
    font-family: 'Righteous', cursive;
}

#navbar-start {
   position: absolute;
   top: 45%;
   width:100%;
}

#product-input {
    width: 30em;
}
/*
#sign-up-button {
    margin-right: 2%;
    margin-left: 1%;
}
*/
#main-body {
    display: none;
    margin-top: 10px;
}

#mission {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#search-results-first {
    display: none;
}

#search-results-second {
    display: none;
}

#search-result-2 {
    height: 600px;
    overflow: scroll;
}

#main-area {
    height: 600px;
    overflow: scroll;
}

.image-item {
    height: 200px;
    width: 200px;
}


/*search-result.js styling */

.search-item {
    margin: 1%;
    border-radius: 15px;
    border: 2px solid #336699;
    padding: 10px;
    text-align: center;
    height: 300px;
    width: 300px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    background-color: white;
}

.search-item:hover {
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    background-color: #9cb9d3;
}

h3 {
    text-align: center;
}

h4 {
    font-size: 10pt;
}

.img-item {
    margin: 0 auto;
}

.imageBox {
    display: block;
    margin: 0 auto;
}

#description {
    text-align: center;
}

#items > h3 {
    text-align: center;
}


/* Divs are displaying nothing so we can dynamically populate them  */

#videos {
    display: none;
}

#reddit-row {
    display: none;
}

.loading-gif {
    margin: auto;
}

#youtubes {
    display: none;
}

.headings {
    /*margin-left: 30px;*/
    text-align: center;
}

.reddit-results-div {
    border-radius: 25px;
    border: 2px solid #336699;
    padding: 20px;
}

.reddit-results-link {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    color: #336699;
}

.reddit-results-link:hover {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    color: #FF4500;
}


/* youtube videos styling */

.video {
    border-radius: 25px;
    border: 2px solid #336699;
    padding: 20px;
    display: block;
    margin: 0 auto;
}


/* userAuth Google styling */

#logInThroughGoogle,
#signUpThroughGoogle {
    float: left;
}

#logInGoogleButton,
#signUpGoogleButton {
    cursor: pointer;
}

#logInGoogleButton:active,
#signUpGoogleButton:active {
    cursor: pointer;
    content: url("../images/Googlebuttons/btn_google_signin_light_pressed_web.png");
}

#logInGoogleButton:focus,
#signUpGoogleButton:focus {
    cursor: pointer;
    content: url("../images/Googlebuttons/btn_google_signin_light_focus_web.png");
}

#needAccount,
#haveAccount {
    float: left;
}

#logOut {
    margin-right: 2%;
}


/* end John's stuff... should be integrated into the rest of the css at some point */


/*Carousel style*/

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner .item img {
    width: 100%;
}

.carousel-inner .item a img {
    width: 100%;
}


/* youtube videos styling */

#primary-image {
    height: 250px;
    width: 250px;
}

#secondary-image {
    height: 150px;
    width: 150px;
}


/************************MEDIA QUERIES. DO NOT PUT CSS AFTER HERE!**********************/

@media only screen and (max-width: 800px) {
    #navbar-start {
        position: relative;
    }
    #product-input {
        width: 100%;
        display: box;
        margin: 0 auto;
    }
    .navbar-brand > h1 {
        text-align: center;
        margin: 0 auto;
    }
    #submit-button2 {
        display: box;
        margin: 0 auto;
    }
    #main-logo {
        font-size: 40px;
        text-align: center;
    }
}


/************************MEDIA QUERIES. DO NOT PUT CSS AFTER HERE!**********************/
