* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    margin-top: -6%;
    font-family: 'Righteous', cursive;
}

body {
    padding-top: 5%;
}

.search-item {
    border-bottom: 1px solid gray;
}

.image-item {
    height: 200px;
    width: 200px;
}

#navbar-start {
    position: absolute;
    top: 40%;
    border: 1px solid grey;
    height: 100px;
    margin: auto;
    padding-top: 25px;
}

#navbar-top {
    display: none;
}

#search-results-first {
    display: none;
}

#search-results-second {
    display: none;
}

#main-body {
    display: none;
}

#videos {
    display: none;
}

#reddit-row {
    display: none;
}

#youtubes {
    display: none;
}


/*#product-input-start {
    width: 600px;
}*/

#product-input {
    width: 600px;
}

#sign-up-button {
    margin-right: 2%;
}

.headings {
    /*margin-left: 30px;*/
    text-align: center;
}

.reddit-results-div {
    border-radius: 25px;
    border: 2px solid #336699;
    padding: 20px;
}

.reddit-results-link {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    color: #336699;
}

.reddit-results-link:hover {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    color: #FF4500;
}


/* John's stuff... should be integrated into the rest of the css at some point */

#logInThroughGoogle,
#signUpThroughGoogle {
    float: left;
}

#logInGoogleButton,
#signUpGoogleButton {
    cursor: pointer;
}

#logInGoogleButton:active,
#signUpGoogleButton:active {
    cursor: pointer;
    content: url("../images/Googlebuttons/btn_google_signin_light_pressed_web.png");
}

#logInGoogleButton:focus,
#signUpGoogleButton:focus {
    cursor: pointer;
    content: url("../images/Googlebuttons/btn_google_signin_light_focus_web.png");
}

#needAccount,
#haveAccount {
    float: left;
}

#logOut {
    margin-right: 2%;
}


/* end John's stuff... should be integrated into the rest of the css at some point */


/* youtube video tag*/

.video {
    border-radius: 25px;
    border: 2px solid #336699;
    padding: 20px;
}

#youtube-results {
    margin: 0 auto;
}