* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    margin-top: -6%;
    font-family: 'Righteous', cursive;
}

body {
    padding-top: 5%;
}

#navbar-start {
    position: absolute;
    top: 45%;
    border: 1px solid grey;
    height: 100px;
    margin: auto;
    padding-top: 25px;
}


/*#product-input-start {
    width: 600px;
}*/

#product-input {
    width: 600px;
}

#sign-in-button {
    margin-right: 10px;
}

.headings {
    /*margin-left: 30px;*/
    text-align: center;
}

.reddit-results-div {
    border-radius: 25px;
    border: 2px solid #336699;
    padding: 20px;
}

.reddit-results-link {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    color: #336699;
}

.reddit-results-link:hover {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    color: #FF4500;
}
